<div class="row">
  <div class="col-8">
    <br>
    <%= form_for @folder do |f| %>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">name</span>
        <%= f.text_field "name", class: "form-control", placeholder: "Folder name", "aria-describedby"=> "sizing-addon2" %>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">tags</span>
        <%= f.text_field "tags", class: "form-control", placeholder: "Folder tags", "aria-describedby"=> "sizing-addon2" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>