<div>
  <% @groups[:items].each do |group| %>
  <p><%= image_tag group['photo_50'] %><%= link_to group['name'], "https://vk.com/#{group['screen_name']}", target: '_blank' %><%= group['id'] %></p>
  <% end if @groups %>
  <%= #@walls
  %>
</div>
<!--<div class="form-group row">-->
  <!--<label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>-->
  <!--<div class="col-3">-->
    <!--<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">-->
  <!--</div>-->
<!--</div>-->