<div class="row">
  <div class="col-4">
    <%- @folder.posts.each do |post| %>
      <%- if post.text.present? %>
        <%= post.text %>
      <%- else %>
        Новая заметка
      <% end %>
    <% end %>
  </div>
  <div class="col-8">
    <%= form_for @post do |f| %>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">name</span>
        <%= f.text_area "text", class: "form-control", placeholder: "Folder name", "aria-describedby"=> "sizing-addon2" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>